@use '@assets/styles/mixins.scss' as *;

.channel-description {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    padding: 38px 0 0 0;
    margin: 20px 0 0 0;
    border-top: 1px solid #D8D8D880;

    @include custom-media(680px) {
        padding: 20px 0;
        margin: 30px 0 0 0;
        gap: 10px;
        align-items: center;
        border-bottom: 1px solid #D8D8D880;

        & button {
            display: none;
        }
    }
}

.channel-description__avatar {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-width: 80px;
    overflow: hidden;
    border-radius: var(--border-radius-round);

     @include custom-media(680px) {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-width: 50px;
    }
}

.channel-description__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
}

.channel-description__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);

    @include custom-media(680px) {
        font-size: var(--font-size-m);
    }
}

.channel-description__subtitle-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 16px;
}

.channel-description__subtitle {
    color: var(--quaternary-text-color);
    font-size: var(--font-size-xs);

    @include custom-media(680px) {
        display: none;
    }
}

.channel-description__subtitle--mobile {
    color: var(--quaternary-text-color);
    font-size: var(--font-size-xxs);
    display: none;
    
    @include custom-media(680px) {
        display: block;
    }
}

.channel-description__text {
    color: var(--secondary-text-color);
    opacity: 0.6;
    max-width: 840px;
    margin: 10px 0 15px 0;
    line-height: 22px;

     @include custom-media(680px) {
        display: none;
    }
}

.channel-description__show-more-button {
    color: var(--quaternary-text-color);
    font-size: calc(var(--font-size-l) + 2px);
}

.channel-description .channel-description__button--mobile {
    color: var(--red-text-color);
    display: none;

    @include custom-media(680px) {
        display: block;
    }
}